.categories_content {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  align-items: flex-start;
  justify-content: center;

  mat-card {
    width: 250px;
    margin: 0 16px 16px 0;

    &:first-child {
      //margin-left: 0;
    }

    mat-card-content {
      max-height: 70px;
      min-height: 70px;
      overflow: auto;
    }

    mat-card-actions {
      button {
        //font-size: 14px;
        //font-weight: 600;
      }
    }
  }
}

//}

.categories_addCategory_button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}
