mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    mat-toolbar > mat-icon {
      padding-right: 8px;
    }

    mat-nav-list {
      padding-top: 0;

      a.active mat-list-item {
        background-color: rgba(98, 0, 238, 0.12);
        color: rgb(98, 0, 238);

        h4 {
          //font-weight: 600;
        }
      }
    }
  }
}


