<ng-progress color="#673ab7"></ng-progress>
<mat-sidenav-container appSidenavContainer (mini)="miniSidenav = $event" autosize class="main-container">
  <mat-sidenav class="mat-elevation-z2">
    <mat-toolbar>
      <mat-icon mat-list-icon>donut_large</mat-icon>
      <span *ngIf="!miniSidenav" class="title">{{'sidenav.ekugcineni' | translate}}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="/transactions" routerLinkActive="active">
        <mat-list-item>
          <mat-icon mat-list-icon>history</mat-icon>
          <h4 *ngIf="!miniSidenav" mat-line>{{'sidenav.transactions' | translate}}</h4>
        </mat-list-item>
      </a>
      <a routerLink="/statements" routerLinkActive="active">
        <mat-list-item>
          <mat-icon mat-list-icon>library_books</mat-icon>
          <h4 *ngIf="!miniSidenav" mat-line>{{'sidenav.statements' | translate}}</h4>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <h3 *ngIf="!miniSidenav" matSubheader>{{'sidenav.settings' | translate}}</h3>
      <a routerLink="/categories" routerLinkActive="active">
        <mat-list-item>
          <mat-icon mat-list-icon>category</mat-icon>
          <h4 *ngIf="!miniSidenav" mat-line>{{'sidenav.categories' | translate}}</h4>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
