<app-header>
  <mat-toolbar>
    <mat-toolbar-row>
      <app-sidenav-toggle></app-sidenav-toggle>
      <span>{{'statements.statements' | translate}}</span>
      <span class="app-fill"></span>
      <button *ngIf="!device.isHandset" mat-raised-button color="primary" routerLink="/statements/new-statement">
        <!--<mat-progress-spinner diameter="20" color="accent" mode="indeterminate"></mat-progress-spinner>-->
        <span>{{'statements.statement' | translate}}</span>
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="device.isHandset" mat-fab class="statements_addStatement_button"
              routerLink="/statements/new-statement">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</app-header>
<mat-tab-group class="app-toolbar-mat-tab-group" mat-align-tabs="center">
  <mat-tab [label]="'statements.statementsTab' | translate">
    <ng-template matTabContent>
      <section class="filterStatementsContainer">
        <mat-form-field class="app-header-form-field" floatLabel="never">
          <mat-label>{{'statements.year' | translate}}</mat-label>
          <mat-select (selectionChange)="filterStatementsByYear()"
                      [(ngModel)]="selectedYear">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <app-main>
        <mat-drawer-container class="app-fill" *ngIf="statements?.length; else noResultsFound">
          <mat-drawer *ngIf="!device.isHandset" #drawer [mode]="device.isTablet? 'over':'side'"
                      [opened]="!device.isTablet" position="end"
                      class="mat-elevation-z1">
            <app-statement-details *ngIf="selectedStatement" [statement]="selectedStatement"></app-statement-details>
          </mat-drawer>
          <mat-drawer-content>
            <mat-nav-list>
              <mat-list-item [class.selected]="statement.id === selectedStatement?.id"
                             *ngFor="let statement of statements"
                             (click)="selectStatement(statement)">
                <mat-icon mat-list-icon>archive</mat-icon>
                <h4 mat-line>{{statement.accountDescription}}</h4>
                <p mat-line>{{statement.accountNumber}}</p>
                <p mat-line>
                  <mat-hint>
                    <mat-icon [inline]="true">calendar_today</mat-icon>
                    <span>{{statement.toDate | date:'dd MMM yyyy'}}</span>
                  </mat-hint>
                  <mat-hint>
                    <mat-icon [inline]="true">calendar_today</mat-icon>
                    <span>{{statement.fromDate | date:'dd MMM yyyy'}}</span>
                  </mat-hint>
                </p>
                <p>
                  <mat-hint>{{statement.statementNumber}}</mat-hint>
                </p>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-nav-list>
          </mat-drawer-content>
        </mat-drawer-container>
      </app-main>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'statements.draftsTab' | translate">
    <ng-template matTabContent>
      <app-draft></app-draft>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #noResultsFound>
  <app-no-results [title]="'statements.noResultsFoundTitle' | translate"
                  [message]="'statements.noResultsFoundMessage' | translate">
  </app-no-results>
</ng-template>
