app-header {
  mat-form-field {
    font-size: 16px;

    & mat-label {
      opacity: 0.5;
    }
  }

  .transactions_toolbar_minSearchBox {
    width: 40%;
  }

  .transactions_toolbar_fullSearchBox {
    background: rgb(255, 255, 255);

    .transactions_toolbar_fullSearchBox_backButton {
      color: rgb(95, 99, 104);
    }
  }
}


mat-drawer-container {
  height: 100vh;
  margin-top: 0.1em;

  mat-drawer {
    width: 300px;

    .mat-slider-thumb-label {
      width: 35px;
      height: 35px;
    }
  }

  mat-drawer-content {
    height: 100vh;

    .transactions_table {
      width: 100%;

      .transactions_table_cellTags {
        margin: 0.5em 0.5em 0.5em 0;

        span {
          font-size: 12px;
          line-height: 0.8em;
          background-color: rgb(232, 232, 232);
          padding: 0.2em 1em;
          margin: 0 0.1em;

          &.fnb {
            background-color: #78909C;
            color: white;
          }
        }
      }

      .mat-cell {
        font-size: 16px;
        padding-right: 16px;
      }

      .mat-column-date {
        width: 80px;
        padding-right: 16px;
      }

      .mat-column-amount {
        width: 80px;
      }

      .mat-column-balance {
        width: 80px;
      }

      .mat-column-star {
        width: 16px;
      }

      .mat-column-description {
        padding-left: 16px;
        min-width: 150px;

        mat-form-field {
          width: 100%;
        }
      }

      .mat-column-star {
        padding-right: 0;
      }

      .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
      }

      .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
      }

    }

  }
}

.transactions_filterButton {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 2;
}
